/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.js.map
figwheel_server.log
resources/public/*
!resources/public/js/vendor/*
!resources/public/css/vendor/*
!resources/public/css/fonts/*
